/* Contenedor general (opcional) */
header {
  display: flex;
  justify-content: flex-end; 
  gap: 15px;                 
  padding: 15px 30px;
  background-color: transparent; 
}


header a.btn-registro,
header a.btn-preferencias {
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  display: inline-block;
  color:rgb(93, 59, 15)
}



body {
  background-image: url('/img/loto.png'); 
  background-size: cover;                  
  background-position: center;             
  background-repeat: no-repeat; 
         
  
}


h1{
    text-align: center;
    color: rgb(93, 59, 15);

}

h2{
     color: rgb(93, 59, 15);
     margin-top: 40px;
     text-align: center;

}

.descripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.sesiones-container{
    display: flex;
    gap:20px;
    overflow: hidden;
    width: 100%;
   
}



.sesion{
    flex:1;
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: solid;
    text-align: center;
    transition: transform 0.3s ease;

}

.sesion:hover{
    transform: scale(1.05);
}


.sesion .name{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sesion-2 img{
    height: 225px;
    width: 350px;
}

.sesion button{
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 6px;
}

.sesiones-container + p{
  margin-top: 40px;
 

}

.mas-informacion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.btn-formulario{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px ;
    border: solid rgb(93, 59, 15);
    width: 200px;
    height: 50px;
    margin:0 auto;
    background-color: antiquewhite;
    color:rgb(93, 59, 15)
   
}

.page-form{
  background-size: size;                  
  background-position: center 0%;             
  background-repeat: no-repeat; 
  background-size: 80%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 100px;
  margin-left: 110px;
          
    
}

.form{
    display:flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin: 0;             
    padding: 20px;         
    
}

.form label:not(.intereses-item) {
  display: flex;
  flex-direction: column; 
  margin: 3px 0; 
  width:200px;
  gap:6px;
  font-size: medium;
  
          
}

.form input {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #c9a46a, #e6d3a3, #c9a46a) border-box;
}

.array {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 400px;
    align-items: center;
}

.intereses-items {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
   
}

.intereses-item {
    display: flex;
    align-items: center; 
    gap: 6px; 
}

.form button{
  padding: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  background:
    linear-gradient(90deg, #c9a46a, #e6d3a3, #c9a46a) border-box;

}

.form a{
    
    color:#3a2f1e;
    text-decoration: none;
    display:block;
    text-align: center;
    margin-top: 20px;
     
}


.carrito-compra {
  max-width: 500px;
  margin: 40px auto;      
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 25px #e6d3a3;
  text-align: center;
}


.carrito-compra h2 {
  margin-bottom: 20px;
}


.carrito {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}


.carrito > div {
  padding: 10px;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-size: 14px;
}


.total {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  border-top: 2px solid #e6d3a3;
}


@media (max-width: 600px) {
  .carrito-compra {
    margin: 20px;
  }
}

.registro-usuario{
  width: 100%;
  background-image: url('/img/loto.png');              
  background-position: center top;             
  background-repeat: no-repeat; 
  background-size: 80%; 

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  gap:20px
  
   
    
}


.registro-usuario h1{
    color:#c9a05e;
    margin-top: 150px;
    
}

.registro{

    display:flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap: 20px;
    margin: 0;             
    padding: 20px;
}     

.registro label{
    display: flex;
    flex-direction: column;
    gap:6px;
    width:300px;
    padding: 8px 0;
   
    
}

.registro input {
  width: 80%; 
  padding: 6px;
  border-radius: 8px;
  border: 1px solid;
  
}

.registro button{
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid transparent;
  background:
    linear-gradient(90deg, #c9a46a, #e6d3a3, #c9a46a) border-box;

}

.registro a{
    color:#c9a05e;
    text-decoration: none;
}

body.no-loto{
  background-image: none !important;
  background-color: transparent;
}

.preferencias{
   
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;  

}

body.oscuro .preferencias-titulo{
    color:white;
    padding:40px;
    font-size:40px;
    font-weight: bold;
}

body.oscuro .preferencias-parrafo{
    color:white;
    display: flex;
    justify-content: center;
    font-size:30px;
    font-weight: bold;
}

.body.oscuro .preferencias-segundo-parrafo{
    color:white;
    display: flex;
    justify-content: center;
    font-size:30px;
    font-weight: bold;
}

body.claro .preferencias-titulo{
    color:black;
    padding:40px;
    font-size:40px;
    font-weight: bold;
}

body.claro .preferencias-parrafo{
    color:black;
    display: flex;
    justify-content: center;
    font-size:30px;
    font-weight: bold;
}

.body.claro .preferencias-segundo-parrafo{
    color:black;
    display: flex;
    justify-content: center;
    font-size:30px;
    font-weight: bold;
}



.preferencias-btn{
    display: flex;
    justify-content: center;
    gap:20px;
  
}

.preferencias-btn button {
  padding: 15px 40px;         
  font-size: 1.2rem;         
  font-weight: bold;           
  border-radius: 12px;          
  border: 2px solid transparent; 
  cursor: pointer;
  transition: all 0.3s ease;   
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Efecto hover */
.preferencias-btn button:hover {
  transform: scale(1.05);       
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

body.oscuro .preferencias-btn button {
  background-color: #3a2f1e;   
  color: #e0dfdc;              
  border: 2px solid #1f1f1e;
 
}

body.claro .preferencias-btn button {
  background: linear-gradient(90deg, #f0e5c9, #ffffff, #f0e5c9);
  color: #3a2f1e;
  border: 2px solid #c9a05e;
}


.preferencias a {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;          
  border-radius: 10px;         
  font-size: 1.1rem;            
  font-weight: bold;          
  text-decoration: none;      
  text-align: center;
  transition: all 0.3s ease;   
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Modo oscuro */
body.oscuro .preferencias a {
  background-color: #3a2f1e;  
  color: #959492;              
  border: 2px solid #555453;
}

body.oscuro .preferencias a:hover {
  background-color: #57442a;   
  color: #fff;
}

/* Modo claro */
body.claro .preferencias a {
  background-color: #f5e1a4;   
  color: #3a2f1e;             
  border: 2px solid #3a2f1e;
}

body.claro .preferencias a:hover {
  background-color: #ecd891;  
  color: #000;
}
